[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
gdown = "*"
torchvision = "*"
tqdm = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.9"
